* {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: larger;
    background-color: #201547;
    
}

.container {
    max-width: 1100px;
    height: 500px;
    color: #E93CAC;
    border: 5px solid #FCEE09;
    border-radius: 25px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    text-align: center;
}

#startpage {
    align-items: center;
    display: flex;
    flex-direction: column;
}

#startbtn {
    color: #00F0FF;
    border-radius: 10px;
}

#timerp {
    position: absolute;
    top: 5px;
    right: 40px;
    font-size: 25px;
}

#question {
    padding: 55px;
}

#choices {
    display: flex;
    gap: 5px;
    justify-content: center;
}

.btnstyle {
    color:  #FCEE09;
    border-radius: 20px;
    transition: all 0.3s ease-in-out;
}

.btnstyle:hover {
    transform: scale(1.02);
    background-color: #FCEE09;
    color: #201547;
}

#scorep {
    position: absolute;
    top: 5px;
    left: 40px;
    font-size: 25px;
}

#endGame {
    display: none;
}