/* Universal Selectors */
* {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: larger;
    background-color: #201547;
    
}
/* Container Styling */
.container {
    max-width: 1100px;
    width: 100%;
    overflow-y: hidden;
    height: 600px;
    color: #E93CAC;
    border: 5px solid #FCEE09;
    border-radius: 25px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    text-align: center;
}
/* Id styles for the start page, button, timer, questions, and choices */
#startpage {
    align-items: center;
    display: flex;
    flex-direction: column;
}

#startbtn {
    color: #00F0FF;
    border-radius: 10px;
}

#timerp {
    position: absolute;
    top: 5px;
    right: 40px;
    font-size: 25px;
}

#question {
    padding: 55px;
}

#choices {
    display: flex;
    gap: 5px;
    justify-content: center;
    font-size: 30px;
}
/* Animation for the question buttons */
.btnstyle {
    color:  #FCEE09;
    border-radius: 20px;
    transition: all 0.3s ease-in-out;
    text-decoration: none;
}

.btnstyle:hover {
    transform: scale(1.02);
    background-color: #FCEE09;
    color: #201547;
}
/* Id styling for the score, engame screen, and scoreboard */
#scorep {
    position: absolute;
    top: 5px;
    left: 40px;
    font-size: 25px;
}

#endGame {
    display: none;
    font-size: 25px;
}

#scoreboard {
    position: absolute;
    top: 20px;
    background-color: #201547;
    z-index: 99;
    border: #FCEE09 solid 2px;
    height: 500px;
    width: 1100px;
    overflow-y: scroll;
    border-radius: 20px;
    filter: drop-shadow(4px 1px 50px #FCEE09);
    padding-top: 20px;
}

/* ===== Scrollbar CSS ===== */
  /* Firefox */
  * {
    scrollbar-width: thin;
    scrollbar-color: #FCEE09 transparent;
  }

  /* Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    width: 12px;
  }

  *::-webkit-scrollbar-track {
    background: transparent;
  }

  *::-webkit-scrollbar-thumb {
    background-color: #FCEE09;
    border-radius: 10px;
    border: 3px solid transparent;
  }

#scorelist {
    font-size: 22px;
    
}
/* Element styles for inputs and tables */
input {
    border-radius: 20px;
    padding-left: 15px;
    border: 2px solid #FCEE09;
    color: #E93CAC;
}
input:focus-visible {
    outline-color: #FCEE09;
}

input::placeholder {
    color: #e93cada0;
}

table {
    margin: 20px auto;
}

table, th, td {
    border: 1px solid;
    width: 50%;
}
